@use '../util' as u;

.icon-heart {
  height: u.rem(15);
  width: u.rem(15);
  fill: hsl(0, 0%, 40%);
}

.bookmark-icon {
  height: u.rem(30);
  width: u.rem(30);
  fill: hsl(0, 0%, 40%);
}

.search-icon {
  height: u.rem(25);
  width: u.rem(25);
  fill: hsl(0, 0%, 97%);
}
