@use '../util' as u;

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  position: relative;
  width: min(100% - u.rem(30), u.rem(1400));
  height: 900px;
  background-color: aliceblue;
  border-radius: u.rem(10);

  &__close {
    position: absolute;
    width: u.rem(40);
    height: u.rem(40);

    right: u.rem(10);
    top: u.rem(10);
  }
}

[data-overlay='hidden'] {
  display: none;
}

[data-overlay='visible'] {
  display: flex;
}
